In [258]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression,Perceptron
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score, classification_report, confusion_matrix, ConfusionMatrixDisplay, PrecisionRecallDisplay, RocCurveDisplay

In [259]:
import warnings
warnings.filterwarnings('ignore')

In [260]:
df = pd.read_csv("./Data/data.csv",sep = ";")
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

## Statiscal Summary

In [261]:
[x for x in df.columns]

['Marital status',
 'Application mode',
 'Application order',
 'Course',
 'Daytime/evening attendance\t',
 'Previous qualification',
 'Previous qualification (grade)',
 'Nacionality',
 "Mother's qualification",
 "Father's qualification",
 "Mother's occupation",
 "Father's occupation",
 'Admission grade',
 'Displaced',
 'Educational special needs',
 'Debtor',
 'Tuition fees up to date',
 'Gender',
 'Scholarship holder',
 'Age at enrollment',
 'International',
 'Curricular units 1st sem (credited)',
 'Curricular units 1st sem (enrolled)',
 'Curricular units 1st sem (evaluations)',
 'Curricular units 1st sem (approved)',
 'Curricular units 1st sem (grade)',
 'Curricular units 1st sem (without evaluations)',
 'Curricular units 2nd sem (credited)',
 'Curricular units 2nd sem (enrolled)',
 'Curricular units 2nd sem (evaluations)',
 'Curricular units 2nd sem (approved)',
 'Curricular units 2nd sem (grade)',
 'Curricular units 2nd sem (without evaluations)',
 'Unemployment rate',
 'Inflation rate',
 'GDP',
 'Target']

In [262]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance	                     4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  Target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [263]:
print("No of Rows :",df.shape[0])
print("No of Columns :",df.shape[1])

No of Rows : 4424
No of Columns : 37

In [264]:
#checking the columns
df.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [265]:
df.Target.value_counts()

Graduate    2209
Dropout     1421
Enrolled     794
Name: Target, dtype: int64

## Dropping Unnecessary Columns


WE WILL REMOVE ALL THE ENROLLED STUDENTS DATA AS WE NEED TO PREDICT DROPOUT AND ENROLLED COMES NEITHER IN GRADUATED NOR DROPOUT WILL CAUSE US PROBLEMS

In [266]:
df=df[df.Target!='Enrolled']

In [267]:
df['Target'].value_counts()

Graduate    2209
Dropout     1421
Name: Target, dtype: int64

In [268]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Target'] = encoder.fit_transform(df['Target'])
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,1
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,1
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,1

In [269]:
df.Target.value_counts()

1    2209
0    1421
Name: Target, dtype: int64

In [270]:
target_column = df['Target']
class_counts = target_column.value_counts()
plt.pie(class_counts, labels = ["Graduate","Dropout"], autopct='%1.1f%%', startangle=90, colors=['skyblue', 'lightcoral', 'lightgreen'])
plt.title('Target Distribution')
plt.show()

## Label Encoding

In [271]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Target'] = encoder.fit_transform(df['Target'])

In [272]:
df.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,1
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,1
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,1

In [273]:
correlation_matrix = df.corr()
plt.figure(figsize=(25,25))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, fmt='.2f')

WILL DROP ONE OF THE FEATURES WHICH ARE LESS MORE THAN .85 CORELATED TO EACH OTHER OR ARE .04 CORRELATED TO TARGET CLASS

In [274]:
df.columns

Index(['Marital status', 'Application mode', 'Application order', 'Course',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Nacionality',
       'Mother's qualification', 'Father's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Educational special needs', 'Debtor',
       'Tuition fees up to date', 'Gender', 'Scholarship holder',
       'Age at enrollment', 'International',
       'Curricular units 1st sem (credited)',
       'Curricular units 1st sem (enrolled)',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (approved)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'Unemployment rate',
       'Inflation rate', 'GDP', 'Target'],
      dtype='object')

In [275]:
df.drop(['International','Nacionality',"Father's qualification",'Curricular units 1st sem (credited)','Curricular units 1st sem (enrolled)','Curricular units 1st sem (approved)','Course','Educational special needs','Unemployment rate','Inflation rate'],axis=1,inplace=True)

In [276]:
df

,Marital status,Application mode,Application order,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Mother's qualification,Mother's occupation,Father's occupation,Admission grade,...,Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),GDP,Target
0,1,17,5,1,1,122.0,19,5,9,127.3,...,0.000000,0,0,0,0,0,0.000000,0,1.74,0
1,1,15,1,1,1,160.0,1,3,3,142.5,...,14.000000,0,0,6,6,6,13.666667,0,0.79,1
2,1,1,5,1,1,122.0,37,9,9,124.8,...,0.000000,0,0,6,0,0,0.000000,0,1.74,0
3,1,17,2,1,1,122.0,38,5,3,119.6,...,13.428571,0,0,6,10,5,12.400000,0,-3.12,1
4,2,39,1,0,1,100.0,37,9,9,141.5,...,12.333333,0,0,6,6,6,13.000000,0,0.79,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4419,1,1,6,1,1,125.0,1,5,4,122.2,...,13.600000,0,0,6,8,5,12.666667,0,-4.06,1
4420,1,1,2,1,1,120.0,1,9,9,119.0,...,12.000000,0,0,6,6,2,11.000000,0,2.02,0
4421,1,1,1,1,1,154.0,37,9,9,149.5,...,14.912500,0,0,8,9,1,13.500000,0,0.79,0
4422,1,1,1,1,1,180.0,37,7,4,153.8,...,13.800000,0,0,5,6,5,12.000000,0,-3.12,1
4423,1,10,1,1,1,152.0,38,5,9,152.0,...,11.666667,0,0,6,6,6,13.000000,0,-1.70,1

In [277]:
correlation_matrix = df.corr()
plt.figure(figsize=(25,25))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, fmt='.2f')

## TRAIN TEST SPLIT AND FEATURE SCALING

In [278]:
X=df.drop(['Target'],axis=1)
y=df['Target']

In [279]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

In [280]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,stratify=y)

In [281]:
test_data = pd.DataFrame(X_test)

In [282]:
X.columns

Index(['Marital status', 'Application mode', 'Application order',
       'Daytime/evening attendance\t', 'Previous qualification',
       'Previous qualification (grade)', 'Mother's qualification',
       'Mother's occupation', 'Father's occupation', 'Admission grade',
       'Displaced', 'Debtor', 'Tuition fees up to date', 'Gender',
       'Scholarship holder', 'Age at enrollment',
       'Curricular units 1st sem (evaluations)',
       'Curricular units 1st sem (grade)',
       'Curricular units 1st sem (without evaluations)',
       'Curricular units 2nd sem (credited)',
       'Curricular units 2nd sem (enrolled)',
       'Curricular units 2nd sem (evaluations)',
       'Curricular units 2nd sem (approved)',
       'Curricular units 2nd sem (grade)',
       'Curricular units 2nd sem (without evaluations)', 'GDP'],
      dtype='object')

In [283]:
test_columns = df.columns

In [284]:
test_columns.drop('Target')
len(test_columns)

27

In [285]:
test_data.to_csv('test_dataset.csv', index=False)
len(test_data.columns)

26

In [286]:
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

RANDOM FOREST

In [287]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
param_grid = {
    'n_estimators': [50, 100],
    'max_depth': [None , 10, 20],
    'min_samples_split': [2,4,5],
    'min_samples_leaf': [1,2,4],
}

rfc=RandomForestClassifier()
rf_Grid=GridSearchCV(estimator=rfc,param_grid=param_grid,cv=3,verbose=0,n_jobs=-1,return_train_score=False)
rf_Grid.fit(X_train,y_train)
rf_Grid.best_params_

{'max_depth': None,
 'min_samples_leaf': 2,
 'min_samples_split': 5,
 'n_estimators': 100}

In [288]:
rf=RandomForestClassifier(max_depth=20, min_samples_leaf=2, min_samples_split=2,
                       n_estimators=50)
rf.fit(X_train,y_train)

RandomForestClassifier(max_depth=20, min_samples_leaf=2, n_estimators=50)

In [289]:


y_pred1=rf.predict(X_test)
score_rf=accuracy_score(y_test,y_pred1)
score_rf

0.8971533516988063

In [290]:
#accuracy score
score_rf=accuracy_score(y_test,y_pred1)
score_rf

0.8971533516988063

In [291]:
#f1 score
f1_rf=f1_score(y_pred1,y_test)
f1_rf

0.9189580318379161

In [292]:
#confusion matrix
cm = metrics.confusion_matrix(y_test, y_pred1)
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           0       0.92      0.80      0.86       426
           1       0.88      0.96      0.92       663

    accuracy                           0.90      1089
   macro avg       0.90      0.88      0.89      1089
weighted avg       0.90      0.90      0.90      1089

In [293]:
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('True')

Text(283.22222222222223, 0.5, 'True')

In [294]:
import joblib
joblib.dump(rfc,'rf_model.pkl')

['rf_model.pkl']

LOGISTIC REGRESSION

In [295]:
from sklearn.linear_model import LogisticRegression
lgr=LogisticRegression()
param_grid = {
    'penalty': ['l1','l2'],
    'solver' :['lbfgs', 'liblinear', 'newton-cg', 'newton-cholesky'],
    'max_iter': [1000,1500,2000],
    'multi_class' :['auto', 'ovr', 'multinomial'],
    'class_weight' :['dict','balanced']
}

In [296]:
lgr_grid=GridSearchCV(estimator=lgr,param_grid=param_grid,cv=3,verbose=0,n_jobs=-1,return_train_score=True)
lgr_grid.fit(X_train,y_train)
lgr_grid.best_params_

{'class_weight': 'balanced',
 'max_iter': 1000,
 'multi_class': 'auto',
 'penalty': 'l1',
 'solver': 'liblinear'}

In [297]:
log=LogisticRegression(**lgr_grid.best_params_)
log.fit(X_train,y_train)

LogisticRegression(class_weight='balanced', max_iter=1000, penalty='l1',
                   solver='liblinear')

In [298]:
y_pred2=log.predict(X_test)
score_log=accuracy_score(y_test,y_pred2)
score_log

0.8888888888888888

In [299]:
f1_log=f1_score(y_pred2,y_test)
f1_log

0.9090909090909092

In [300]:
cm = metrics.confusion_matrix(y_test, y_pred2)
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           0       0.86      0.85      0.86       426
           1       0.91      0.91      0.91       663

    accuracy                           0.89      1089
   macro avg       0.88      0.88      0.88      1089
weighted avg       0.89      0.89      0.89      1089

In [301]:
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('True')
#plt.show()

Text(283.22222222222223, 0.5, 'True')

In [302]:

joblib.dump(log,'log_model.pkl')

['log_model.pkl']

KNN

In [303]:
from sklearn.neighbors import KNeighborsClassifier 
param_grid = [{
    'n_neighbors': range(3,21),
    'algorithm':['ball_tree','kd_tree','brute'],
    'weights': ['uniform', 'distance'],
    'p': [1, 2]
}]

In [304]:
knn_Grid= GridSearchCV(KNeighborsClassifier(), param_grid=param_grid, cv=3, verbose=0, n_jobs=-1)
knn_Grid.fit(X_train,y_train)
knn_Grid.best_params_

{'algorithm': 'ball_tree', 'n_neighbors': 8, 'p': 1, 'weights': 'uniform'}

In [305]:
knn=KNeighborsClassifier(**knn_Grid.best_params_)
knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='ball_tree', n_neighbors=8, p=1)

In [306]:
y_pred3=knn.predict(X_test)
score_knn=accuracy_score(y_pred3,y_test)
score_knn

0.8659320477502296

In [307]:
f1_knn=f1_score(y_pred3,y_test)
f1_knn

0.8960113960113959

In [308]:
cm = metrics.confusion_matrix(y_test, y_pred3)
print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           0       0.90      0.74      0.81       426
           1       0.85      0.95      0.90       663

    accuracy                           0.87      1089
   macro avg       0.88      0.84      0.85      1089
weighted avg       0.87      0.87      0.86      1089

In [309]:
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('True')

Text(283.22222222222223, 0.5, 'True')

In [310]:

joblib.dump(knn,'knn_model.pkl')

['knn_model.pkl']

DEEP LEARNING (ANN)

In [347]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Dropout
from sklearn.model_selection import RandomizedSearchCV
from kerastuner.tuners import RandomSearch
from keras.callbacks import ModelCheckpoint, EarlyStopping

In [348]:
def build_model(hp):
    model = keras.Sequential()
    model.add(layers.InputLayer(input_shape=(X_train.shape[1],)))
    model.add(layers.Dense(units=hp.Int('units', min_value=32, max_value=512, step=32), activation='relu'))
    model.add(layers.Dropout(hp.Float('dropout', min_value=0.2, max_value=0.5, step=0.1)))
    model.add(layers.Dense(3, activation='softmax'))

    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
    return model

In [349]:
# Train the model with the full training set
model.fit(X_train, y_train, epochs=20, validation_split=0.2)

Epoch 1/20
64/64 [==============================] - 0s 4ms/step - loss: 0.1389 - accuracy: 0.9483 - val_loss: 0.2208 - val_accuracy: 0.9136
Epoch 2/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1425 - accuracy: 0.9464 - val_loss: 0.2234 - val_accuracy: 0.9155
Epoch 3/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1292 - accuracy: 0.9503 - val_loss: 0.2281 - val_accuracy: 0.9136
Epoch 4/20
64/64 [==============================] - 0s 2ms/step - loss: 0.1274 - accuracy: 0.9503 - val_loss: 0.2431 - val_accuracy: 0.9116
Epoch 5/20
64/64 [==============================] - 0s 2ms/step - loss: 0.1278 - accuracy: 0.9483 - val_loss: 0.2452 - val_accuracy: 0.9155
Epoch 6/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1284 - accuracy: 0.9513 - val_loss: 0.2466 - val_accuracy: 0.9116
Epoch 7/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1262 - accuracy: 0.9532 - val_loss: 0.2628 - val_accuracy: 0.9096
Epoch 8/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1285 - accuracy: 0.9532 - val_loss: 0.2617 - val_accuracy: 0.9077
Epoch 9/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1231 - accuracy: 0.9532 - val_loss: 0.2755 - val_accuracy: 0.9018
Epoch 10/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1281 - accuracy: 0.9547 - val_loss: 0.2802 - val_accuracy: 0.9037
Epoch 11/20
64/64 [==============================] - 0s 2ms/step - loss: 0.1314 - accuracy: 0.9488 - val_loss: 0.2811 - val_accuracy: 0.9057
Epoch 12/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1285 - accuracy: 0.9547 - val_loss: 0.2774 - val_accuracy: 0.9077
Epoch 13/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1189 - accuracy: 0.9567 - val_loss: 0.2849 - val_accuracy: 0.9077
Epoch 14/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1304 - accuracy: 0.9493 - val_loss: 0.3006 - val_accuracy: 0.9018
Epoch 15/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1260 - accuracy: 0.9562 - val_loss: 0.2888 - val_accuracy: 0.9077
Epoch 16/20
64/64 [==============================] - 0s 2ms/step - loss: 0.1240 - accuracy: 0.9542 - val_loss: 0.2894 - val_accuracy: 0.9018
Epoch 17/20
64/64 [==============================] - 0s 2ms/step - loss: 0.1198 - accuracy: 0.9528 - val_loss: 0.3034 - val_accuracy: 0.9037
Epoch 18/20
64/64 [==============================] - 0s 5ms/step - loss: 0.1195 - accuracy: 0.9601 - val_loss: 0.3204 - val_accuracy: 0.9018
Epoch 19/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1240 - accuracy: 0.9523 - val_loss: 0.3083 - val_accuracy: 0.9018
Epoch 20/20
64/64 [==============================] - 0s 3ms/step - loss: 0.1180 - accuracy: 0.9587 - val_loss: 0.3131 - val_accuracy: 0.9057

In [350]:
# Evaluate the model on the test set
y_pred = np.argmax(model.predict(X_test), axis=1)
accuracy = accuracy_score(y_test, y_pred)
print(f"\nAccuracy on Test Set: {accuracy:.2%}")

35/35 [==============================] - 0s 1ms/step

Accuracy on Test Set: 88.61%

In [351]:
# Display additional metrics and confusion matrix
print("\nClassification Report:")
print(classification_report(y_test, y_pred))

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.81      0.85       426
           1       0.89      0.93      0.91       663

    accuracy                           0.89      1089
   macro avg       0.89      0.87      0.88      1089
weighted avg       0.89      0.89      0.89      1089

In [352]:
print("\nConfusion Matrix:")
print(confusion_matrix(y_test, y_pred))

Confusion Matrix:
[[346  80]
 [ 44 619]]

In [353]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_19 (Dense)            (None, 416)               11232

 dropout_16 (Dropout)        (None, 416)               0

 dense_20 (Dense)            (None, 3)                 1251

=================================================================
Total params: 12483 (48.76 KB)
Trainable params: 12483 (48.76 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [341]:
plt.plot(history.history['loss'],label='train')
plt.plot(history.history['val_loss'],label='test')

In [342]:
plt.plot(history.history['accuracy'],label='train')
plt.plot(history.history['val_accuracy'],label='test')

In [354]:
print(y_test.shape, y_pred.shape)

(1089,) (1089,)

In [355]:
y_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [356]:

score_ann=accuracy_score(y_test,y_pred)
score_ann

0.8861340679522498

In [357]:
f1_ann=f1_score(y_pred,y_test)
f1_ann

0.9089574155653452

In [358]:
cm = metrics.confusion_matrix(y_test, y_pred)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.89      0.81      0.85       426
           1       0.89      0.93      0.91       663

    accuracy                           0.89      1089
   macro avg       0.89      0.87      0.88      1089
weighted avg       0.89      0.89      0.89      1089

In [359]:
sns.heatmap(cm, annot=True, fmt='d', cmap='Blues')
plt.xlabel('Predicted')
plt.ylabel('True')

Text(283.22222222222223, 0.5, 'True')

In [360]:
print('ACCURACY')
print('Accuracy of RF is',score_rf)
print('Accuracy of Logistic Regession is',score_log)
print('Accuracy of KNN is',score_knn)
print('Accuracy of ANN is',score_ann)

ACCURACY
Accuracy of RF is 0.8971533516988063
Accuracy of Logistic Regession is 0.8888888888888888
Accuracy of KNN is 0.8659320477502296
Accuracy of ANN is 0.8861340679522498

In [361]:
print('F1 SCORE')
print('F1 SCORE of RF is',f1_rf)
print('F1 SCORE of Logistic Regession is',f1_log)
print('F1 SCORE of KNN is',f1_knn)
print('F1 SCORE of ANN is',f1_ann)

F1 SCORE
F1 SCORE of RF is 0.9189580318379161
F1 SCORE of Logistic Regession is 0.9090909090909092
F1 SCORE of KNN is 0.8960113960113959
F1 SCORE of ANN is 0.9089574155653452

In [362]:
# Save the best model
model.save('best_model.h5')

In [ ]:
df_test = pd.read_csv('test_dataset.csv')

In [ ]:
sample1 = pd.DataFrame(df_test[:1]).to_csv('sample1.csv', index= True)
sample2 = pd.DataFrame(df_test[3:4]).to_csv('sample2.csv', index=False)

In [ ]:
X_test.shape

(1089, 26)

In [ ]:
test_data

,Marital status,Application mode,Application order,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Mother's qualification,Mother's occupation,Father's occupation,Admission grade,...,Curricular units 1st sem (evaluations),Curricular units 1st sem (grade),Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),GDP
4419,1,1,6,1,1,125.0,1,5,4,122.2,...,7,13.600000,0,0,6,8,5,12.666667,0,-4.06
4365,1,1,2,1,1,117.0,38,4,9,120.2,...,0,0.000000,0,0,0,0,0,0.000000,0,0.32
3980,1,17,6,1,1,117.0,1,4,7,114.6,...,7,12.142857,0,0,6,6,6,13.333333,0,0.79
3516,1,17,1,1,1,123.0,3,2,9,116.4,...,0,0.000000,0,0,0,0,0,0.000000,0,1.74
3079,1,44,1,1,39,160.0,12,4,8,160.0,...,10,12.500000,0,1,6,8,2,13.500000,0,1.79
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094,2,7,1,1,3,130.0,37,4,5,130.0,...,17,13.750000,0,0,6,15,6,14.500000,0,-0.92
2121,1,1,1,1,1,135.0,1,5,5,122.4,...,10,10.875000,0,0,5,8,4,12.400000,0,0.79
1185,1,1,1,1,1,135.0,19,9,9,124.5,...,11,11.142857,0,0,6,8,6,12.285714,0,-0.92
853,2,39,1,1,1,133.1,1,9,9,120.0,...,8,13.842857,0,0,8,8,7,13.842857,0,-1.70
2999,4,39,1,0,1,138.0,19,90,90,127.0,...,4,0.000000,0,0,5,10,0,0.000000,0,1.74